@font-face {
    font-family: "GothamBlack-Italic";
    src: url("../fonts/GothamBlack-Italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Basel-BoldItalic";
    src: url("../fonts/Basel-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
/* Livefyre Style Overrides */

#livecomments .fyre-editor{
  margin-top: 10px;
}

.fyre-editor .fyre-editor-container .fyre-editor-editable.editable{
  background: #fff;
  border: none;
  border-radius: 0;
}

.fyre-editor .fyre-editor-toolbar{
  display: none;
}

.fyre-stream-sort{
  position: relative;
}

.fyre-stream-sort .fyre-stream-sort-options{
  float: right;
}

.fyre-stream-sort .fyre-stream-sort-options .fyre-stream-sort-top-comments{
  position: absolute;
    top: 0;
    right: 92%;
}

.fyre-auth {
  display: none;
  margin: 0;
}

/* Hide the top logo */
.fyre-widget .fyre-logo-drop, .fyre-widget .fyre-logo-help, .fyre-widget .fyre-help {
    display:none !important;
}

/* Style the bottom logo */
#powered_by_livefyre_new a {
	background: url(https://cdn.livefyre.com/libs/fyre.conv/v3.0.0/images/poweredbylivefyre.png) no-repeat left top;
    display: block;
    height: 24px;
    font: 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    text-decoration: none;
    color: #404040;
    padding-left: 28px;
    padding-top: 4px;
}
#powered_by_livefyre_new a:hover {
    text-decoration: underline;
}
.fyre-editor-field {
	display: none;
}
.fyre .fyre-comment-actions,
.fyre .fyre-comment-actions a>span  {
	opacity: 1 !important;
}
.fyre-editor-field {
	font: italic 12px sans-serif !important;
	color: #333;
}
.fyre .fyre-comment-like-count {
	font-family: "GothamBlack-Italic", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #000 !important;	
}
.fyre-comment-like-count::before {
	font-family: "GothamBlack-Italic", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;	
	content: "(0";
}

.fyre-comment-like-count::after {
	font-family: "GothamBlack-Italic", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	content: ") ";
}
.fyre-share-link {
	display: none !important;
}


.fyre .fyre-comment-count,
.fyre .fyre-stream-sort, 
.fyre-stream-sort-options, 
.fyre .fyre-stream-sort a, 
.fyre-comment-actions,
.fyre .fyre-comment-article a.fyre-comment-action-button {
	font: bold italic 12px "GothamBlack-Italic", Arial, sans-serif;
	text-transform: uppercase;
	color: #000 !important;
}

.fyre .fyre-stream-sort a.fyre-stream-sort-selected {
	color: #ee2c74 !important;
}

.fyre-comment-username {
	font: italic 18px "Basel-BoldItalic", serif;
	color: #000 !important;
}

.fyre .fyre-comment-wrapper time.fyre-comment-date {
	float: none;
	margin-left: 10px;
	font-style: italic;
}

.fyre-comment-reply::before {
	content: "/";
	padding-right: 10px;
}

.fyre .fyre-comment-author-tag {
	background-color: #ee2c74;
}

.fyre .fyre-comment a {
    color: #ee2c74;
    font-weight: normal;
}